*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "poppins",sans-serif; 
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #ecaf6e;
    padding: 1rem;
    margin: .5rem 0;
   
}
.heading2{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    margin: .5rem 0;
   
}
 .content2 h3{
    color:#ecaf6e;
     padding: 1rem;
    margin: .5rem 0;
}
h4{
    color:#f9f6f5;
     padding: 1rem;
    margin: .5rem 0;
}


header { 
position: fixed;
top: 0; left:0; right: 0;
padding: 2rem 9% ;
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
z-index: 1000;
box-shadow: 0.5rem 1rem rgba(177, 122, 122, 0.1);
 background-color:#FAF3E0 ;  
}
.logo{
    font-size: 3rem;
    color:#6b3333;
    font-weight: bolder;
    text-decoration: none;
}

  header .nav1 a{ 
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

.nav1  a:hover{
    color: #6b3333;
}
#box a:hover{
    color: #c3a5a5;
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color:#6b3333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgb(0, 0,0, .3);
    display: none;
}

#box ul{
    list-style-type: none;   
}
#box li a{
    color: white;
    font-size: 1.5rem;
}



@media (max-width: 1000px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    
}
@media (max-width:800px) {
    header .fa-bars{
        display: block;
    }
    
    header .nav1{
        position:absolute;
        top: 100%; left:0; right: 0;
        border-top: .1rem solid rgb(0, 0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .nav1{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    header .nav1  a{
         margin: 1.5rem;
         padding: 1.5rem;
         border: .1rem solid rgb(0, 0,0,.1);  ;
         display: block;
         background-color: #FAF3E0;
         border-radius: 1rem;
    }
    
}
@media (max-width:470px) {
    
   html{
        font-size: 50%;
    }
    header{
        padding: 2rem;
    }
    #icon{
  padding:  1rem; 
  
}
   
}

.home{
    display:flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/our_sto.jpg);
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color:rgb(219, 217, 207);
}
.home .content span{
    font-size: 2.5rem;
    color: #b9abab;
    padding: 1rem 0;
    line-height: 1.5;
}

.About{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    flex-wrap:wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
    background-color:#FAF3E0 ;  
}
.About .content {
     text-align: center;
}
.About .content p{
    font-size: 2rem;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;

}
.About .content2 p{
    font-size: 1.5rem;
    padding: .5rem 0; 
    margin: 15px ;
}
.collections{
    background-color:#FAF3E0 ;
}
.box{
    padding: 1rem;
}
.box img{
width: 300px;
height: 200px;
border: 2px solid rgb(79, 36, 36);
border-radius: 13px;
box-shadow: 4px 7px 7px 0px black;
margin: 20px;
transition: 400ms;
}
.box img:hover{
    filter:grayscale(1);
    transform: scale(1.03);
}
footer a{
 text-decoration: none;
 font-size: 2rem;
  text-decoration: none;
  color: black;
   padding: 0 1rem;
}

footer
{ 
color: white;
padding: 20px ;
display: flex;
width: 100%;
justify-content: space-between;
padding-bottom: 40px;
border-bottom: .1rem solid black;
}
.last{
background-color:rgba(63, 42, 42, 0.892);
}
#icon{
  padding:  3rem; 
  
}
#icon i{
    padding: 0 1rem;
    font-size: 2.5rem;
}
#icon i:hover{
    color: #6b3333;
}
